# Environments
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Databases
*.db
*.sqlite3

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Node.js (for the web project)
node_modules/
dist/
build/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
